@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Information<br />
    My Home Address<br />
    <abbr title="Phone">P:</abbr>
    331.643.3177
</address>

<address>
    <strong>Support:</strong> <a href="mailto:hballi2@uic.edu">hballi2@uic.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:hballi2@uic.edu">hballi2@uic.edu</a>
</address>
